# Setting Values In A DataFrame
## Notebook Outline:

* <a href='#AddNewColumns'>Adding New Columns To A DataFrame</a>
* <a href='#DroppingColumns'>Dropping Columns From DataFrames</a>
* <a href='#UpdatingColumnValues'>Updating Column Values</a>
* <a href='#SettingSpecificValues'>Setting Specific Values</a>

# How to use this Notebook

The best way to use this notebook is to follow along with the lecture and then to apply what you learn to your own data files, or (if you do not have any of your own data) to practice using this functions and methods on the provided data. A little practice goes a long way towards understand and retaining! It would be easy to just skim this notebook, but you will learn more by doing!

<a name='AddNewColumns'></a>
# Adding New Columns To A DataFrame
Adding new columns to a DataFrame is straightforward. We just need to use bracket notation, (without .loc or .iloc)
We need a dataset to practice on, so let's load the Philadelphia Airport Weather Dataset.

In [1]:
# In this cell we import pandas and load the datafile.
import pandas as pd
import os

filepath = os.path.join(os.getcwd(), 'data', 'Philadelphia_Pennsylvania_USA/724080-13739-2001')

headers = ['Year', 'Month', 'Day', 'Hour', 'Air Temp', 'Dew Point Temp', 'Sea Level Pressure',
           'Wind Direction', 'Wind Speed Rate',
           'Sky Condition Total Coverage Code',
           'Liquid Precipitation Depth Dimension - 1Hr Duration',
           'Liquid Precipitation Depth Dimension - Six Hour Duration']
weatherData = pd.read_csv(filepath, delim_whitespace=True,
                          names=headers)

In [ ]:
weatherData.head()

#### Creating a copy of the Air Temp Column.
To do this, we will use the .loc method to select a _new_ column and set it equal to the airtemp column. Notice the new column at the end of the DataFrame after we complete this operation.

In [ ]:
weatherData.loc[:, 'Air Temp Copy'] = weatherData['Air Temp'] 
weatherData.head()

<a name=DroppingColumns></a>
# Dropping Columns From a DataFrame
We can use the `.drop` method to drop columns from the dataframe. We just need to specify the we are dropping a label from axis 1. The `inplace` keyword argument allows us to update the dataframe itself, and not just output a new dataframe wit the column dropped.

In [5]:
weatherData.drop('Air Temp Copy', axis=1, inplace=True)

In [6]:
weatherData.head()

,Year,Month,Day,Hour,Air Temp,Dew Point Temp,Sea Level Pressure,Wind Direction,Wind Speed Rate,Sky Condition Total Coverage Code,Liquid Precipitation Depth Dimension - 1Hr Duration,Liquid Precipitation Depth Dimension - Six Hour Duration
0,2001,1,1,0,-6,-94,10146,280,57,2,0,-9999
1,2001,1,1,1,-11,-94,10153,280,57,4,0,-9999
2,2001,1,1,2,-17,-106,10161,290,62,2,0,-9999
3,2001,1,1,3,-28,-100,10169,260,57,0,0,-9999
4,2001,1,1,4,-28,-100,10177,260,52,0,0,-9999

<a name=UpdatingColumnValues></a>
# Updating Values of a DataFrame Column

#### Updating the Air Temp Column
This data actually need to be divided by 10 to be put in the proper decimal notation. That is, the -6 value is really -0.6 Celsius. This is described in the data documentation which can be found here <ftp://ftp.ncdc.noaa.gov/pub/data/noaa/isd-lite/isd-lite-format.pdf>

So, let's go ahead and update that column by dividing all the values by 10! We can do this with the same mathematical operators that we learned in the lecture on mathematical operators.

In [7]:
weatherData.loc[:, 'Air Temp'] = weatherData['Air Temp']/10
weatherData.head()

,Year,Month,Day,Hour,Air Temp,Dew Point Temp,Sea Level Pressure,Wind Direction,Wind Speed Rate,Sky Condition Total Coverage Code,Liquid Precipitation Depth Dimension - 1Hr Duration,Liquid Precipitation Depth Dimension - Six Hour Duration
0,2001,1,1,0,-0.6,-94,10146,280,57,2,0,-9999
1,2001,1,1,1,-1.1,-94,10153,280,57,4,0,-9999
2,2001,1,1,2,-1.7,-106,10161,290,62,2,0,-9999
3,2001,1,1,3,-2.8,-100,10169,260,57,0,0,-9999
4,2001,1,1,4,-2.8,-100,10177,260,52,0,0,-9999

#### Converting the Air Temp from Celsius to Fahrenheit - in a _new_ column
Now we will convert the Celsius air temp values to Fahrenheit values in a new column of data.

In [ ]:
weatherData.loc[:, 'Air Temp F'] = weatherData['Air Temp'] * 1.8 + 32
weatherData.head()

<a name=SettingSpecificValues></a>
# Setting Specific Values in a DataFrame

#### Changing the -9999 values to a Null value that Pandas will recognize.
We can use the .loc notation to set specific values in a column.  For example, let's change the -9999 values in the 'Liquid Precipitation Depth Dimension - Six Hour Duration' column to None values.

In [8]:
weatherData.loc[weatherData['Liquid Precipitation Depth Dimension - Six Hour Duration'] == -9999,
                'Liquid Precipitation Depth Dimension - Six Hour Duration'] = None
weatherData.head()

,Year,Month,Day,Hour,Air Temp,Dew Point Temp,Sea Level Pressure,Wind Direction,Wind Speed Rate,Sky Condition Total Coverage Code,Liquid Precipitation Depth Dimension - 1Hr Duration,Liquid Precipitation Depth Dimension - Six Hour Duration
0,2001,1,1,0,-0.6,-94,10146,280,57,2,0,NaN
1,2001,1,1,1,-1.1,-94,10153,280,57,4,0,NaN
2,2001,1,1,2,-1.7,-106,10161,290,62,2,0,NaN
3,2001,1,1,3,-2.8,-100,10169,260,57,0,0,NaN
4,2001,1,1,4,-2.8,-100,10177,260,52,0,0,NaN

#### Run .info() again to now see how many non-null values there are in 'Liquid Precipitation Depth Dimension - Six Hour Duration'

In [9]:
weatherData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8758 entries, 0 to 8757
Data columns (total 12 columns):
Year                                                        8758 non-null int64
Month                                                       8758 non-null int64
Day                                                         8758 non-null int64
Hour                                                        8758 non-null int64
Air Temp                                                    8758 non-null float64
Dew Point Temp                                              8758 non-null int64
Sea Level Pressure                                          8758 non-null int64
Wind Direction                                              8758 non-null int64
Wind Speed Rate                                             8758 non-null int64
Sky Condition Total Coverage Code                           8758 non-null int64
Liquid Precipitation Depth Dimension - 1Hr Duration         8758 non-null int64
Liquid Precipitation Depth Dimension - Six Hour Duration    293 non-null float64
dtypes: float64(2), int64(10)
memory usage: 821.1 KB

In [10]:
weatherData.loc[weatherData['Liquid Precipitation Depth Dimension - Six Hour Duration'].isnull(), :]

,Year,Month,Day,Hour,Air Temp,Dew Point Temp,Sea Level Pressure,Wind Direction,Wind Speed Rate,Sky Condition Total Coverage Code,Liquid Precipitation Depth Dimension - 1Hr Duration,Liquid Precipitation Depth Dimension - Six Hour Duration
0,2001,1,1,0,-0.6,-94,10146,280,57,2,0,NaN
1,2001,1,1,1,-1.1,-94,10153,280,57,4,0,NaN
2,2001,1,1,2,-1.7,-106,10161,290,62,2,0,NaN
3,2001,1,1,3,-2.8,-100,10169,260,57,0,0,NaN
4,2001,1,1,4,-2.8,-100,10177,260,52,0,0,NaN
5,2001,1,1,5,-4.4,-100,10182,250,52,0,0,NaN
6,2001,1,1,6,-4.4,-100,10188,260,62,0,0,NaN
7,2001,1,1,7,-4.4,-94,10193,250,62,7,0,NaN
8,2001,1,1,8,-5.6,-100,10198,250,46,0,0,NaN
9,2001,1,1,9,-5.6,-94,10197,260,52,0,0,NaN
10,2001,1,1,10,-6.1,-100,10199,270,41,0,0,NaN
11,2001,1,1,11,-6.7,-106,10210,250,46,0,0,NaN
12,2001,1,1,12,-6.1,-100,10222,240,46,0,0,NaN
13,2001,1,1,13,-6.7,-100,10225,240,36,4,0,NaN
14,2001,1,1,14,-4.4,-94,10228,270,31,7,0,NaN
15,2001,1,1,15,-4.4,-83,10233,230,31,7,0,NaN
16,2001,1,1,16,-1.7,-83,10231,320,46,7,0,NaN
17,2001,1,1,17,-0.6,-78,10225,340,52,7,0,NaN
18,2001,1,1,18,0.6,-83,10215,340,46,6,0,NaN
19,2001,1,1,19,1.1,-94,10216,320,62,7,0,NaN
20,2001,1,1,20,1.1,-100,10217,330,41,7,0,NaN
21,2001,1,1,21,1.1,-100,10224,320,41,8,0,NaN
22,2001,1,1,22,1.1,-100,10226,320,31,8,0,NaN
23,2001,1,1,23,0.0,-94,10230,310,41,8,0,NaN
24,2001,1,2,0,0.6,-100,10235,310,36,8,0,NaN
25,2001,1,2,1,-0.6,-100,10239,330,26,8,0,NaN
26,2001,1,2,2,-0.6,-100,10242,350,21,8,0,NaN
27,2001,1,2,3,-1.1,-89,10243,360,31,8,0,NaN
28,2001,1,2,4,-1.7,-94,10247,350,15,8,0,NaN
29,2001,1,2,5,-1.7,-100,10246,350,41,8,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
8728,2001,12,30,18,-0.6,-133,10156,280,93,0,0,NaN
8729,2001,12,30,19,-0.6,-139,10153,280,72,2,0,NaN
8730,2001,12,30,20,-0.6,-139,10156,300,77,2,0,NaN
8731,2001,12,30,21,-1.1,-144,10162,280,82,2,0,NaN
8732,2001,12,30,22,-1.7,-144,10166,270,67,0,0,NaN
8733,2001,12,30,23,-2.2,-144,10169,270,57,0,0,NaN
8734,2001,12,31,0,-2.8,-139,10176,260,82,0,0,NaN
8735,2001,12,31,1,-2.8,-150,10183,270,77,0,0,NaN
8736,2001,12,31,2,-3.3,-144,10186,280,62,0,0,NaN
8737,2001,12,31,3,-3.9,-150,10191,270,57,0,0,NaN
8738,2001,12,31,4,-5.0,-144,10195,260,52,0,0,NaN
8739,2001,12,31,5,-5.6,-144,10193,260,57,0,0,NaN
8740,2001,12,31,6,-5.6,-144,10197,260,52,0,0,NaN
8741,2001,12,31,7,-6.1,-139,10200,260,57,0,0,NaN
8742,2001,12,31,8,-5.6,-133,10201,250,67,0,0,NaN
8743,2001,12,31,9,-5.6,-128,10199,250,67,0,0,NaN
8744,2001,12,31,10,-5.6,-133,10191,250,62,0,0,NaN
8745,2001,12,31,11,-5.6,-122,10197,260,62,0,0,NaN
8746,2001,12,31,12,-6.1,-128,10201,250,57,2,0,NaN
8747,2001,12,31,13,-5.6,-128,10210,260,52,0,0,NaN
8748,2001,12,31,14,-3.9,-128,10216,260,77,0,0,NaN
8749,2001,12,31,15,-3.3,-133,10215,260,72,0,0,NaN
8750,2001,12,31,16,-2.8,-133,10209,250,72,0,0,NaN
8751,2001,12,31,17,-2.2,-133,10195,280,57,2,0,NaN
8752,2001,12,31,18,-1.7,-133,10186,260,46,0,0,NaN
8753,2001,12,31,19,-0.6,-128,10185,240,62,2,0,NaN
8754,2001,12,31,20,-0.6,-133,10183,260,57,2,0,NaN
8755,2001,12,31,21,-0.6,-133,10181,290,57,0,0,NaN
8756,2001,12,31,22,-1.1,-133,10186,280,46,7,0,NaN
8757,2001,12,31,23,-1.1,-133,10194,280,46,7,0,NaN

## In Class Exercise
Please create a cell below and practice creating new column and updating values in existing columns.

# Lesson Summary:
In this lesson you learned:
* How to create new columns in a DataFrame.
* How to update the values of an entire column.
* How to update specific values in a DataFrame.

## Question or Comments About This Notebook?
Feel free to contact me via my LinkedIn: https://www.linkedin.com/in/william-j-henry <br>
You can also email me at will@henryanalytics.com <br>